rules_version = '2';

service cloud.firestore {
  match /databases/{database}/documents {
    
    // Função para verificar se o usuário está logado e seu e-mail consta na coleção de autorizados
    function isAuthorized() {
      return request.auth != null && 
             exists(/databases/$(database)/documents/allowed_users/$(request.auth.token.email.lower()));
    }

    // Permite que qualquer usuário logado LEIA a coleção de autorizados 
    // (necessário para o app verificar o nome e permissão)
    match /allowed_users/{email} {
      allow read: if request.auth != null;
      allow write: if false; 
    }

    // Só permite mexer nas tarefas e configurações se passar na função isAuthorized
    match /tasks/{task} {
      allow read, write: if isAuthorized();
    }
    
    match /settings/{setting} {
      allow read, write: if isAuthorized();
    }

    match /guests/{guest} {
      allow read, write: if isAuthorized();
    }
    
    // Regra global para subcoleções de tarefas
    match /tasks/{task}/{document=**} {
       allow read, write: if isAuthorized();
    }
  }
}
